---
---
@charset "utf-8";

.ui.hacker.news.orange.label, .ui.hacker.news.orange.labels .label {
  background-color: #fb9857!important;
  border-color: #fb9857!important;
}

.ui.hacker.news.orange.labels a.label:hover,
a.ui.hacker.news.orange.label:hover,
a.ui.hacker.news.orange.labels .label:hover {
  background-color: #f9a36b!important;
  border-color: #f9a36b!important;
}

.ui.geeklist.green.label, .ui.geeklist.green.labels .label {
  background-color: #7dc38e!important;
  border-color: #7dc38e!important;
}

.ui.geeklist.green.labels a.label:hover,
a.ui.geeklist.green.label:hover,
a.ui.geeklist.green.labels .label:hover {
  background-color: #8ec39b!important;
  border-color: #8ec39b!important;
}

.ui.makerbase.teal.label, .ui.makerbase.teal.labels .label {
  background-color: #71bfbb!important;
  border-color: #71bfbb!important;
}

.ui.makerbase.teal.labels a.label:hover,
a.ui.makerbase.teal.label:hover,
a.ui.makerbase.teal.labels .label:hover {
  background-color: #89bfbc!important;
  border-color: #89bfbc!important;
}

.ui.trello.blue.label, .ui.trello.blue.labels .label {
  background-color: #58a6d4!important;
  border-color: #58a6d4!important;
}

.ui.trello.blue.labels a.label:hover,
a.ui.trello.blue.label:hover,
a.ui.trello.blue.labels .label:hover {
  background-color: #72aacc!important;
  border-color: #72aacc!important;
}

.ui.producthunt.orange.label, .ui.producthunt.orange.labels .label {
  background-color: #d87559!important;
  border-color: #d87559!important;
}

.ui.producthunt.orange.labels a.label:hover,
a.ui.producthunt.orange.label:hover,
a.ui.producthunt.orange.labels .label:hover {
  background-color: #dc8971!important;
  border-color: #dc8971!important;
}

.ui.github.blue.label, .ui.github.blue.labels .label {
  background-color: #4078c0!important;
  border-color: #4078c0!important;
}

.ui.twitter.teal.label, .ui.twitter.teal.labels .label {
  background-color: #55acee!important;
  border-color: #55acee!important;
}

.ui.twitter.teal.labels a.label:hover,
a.ui.twitter.teal.label:hover,
a.ui.twitter.teal.labels .label:hover {
  background-color: #79b8e8!important;
  border-color: #79b8e8!important;
}

.ui.facebook.blue.label, .ui.facebook.blue.labels .label {
  background-color: #3b5998!important;
  border-color: #3b5998!important;
}

.ui.facebook.blue.labels a.label:hover,
a.ui.facebook.blue.label:hover,
a.ui.facebook.blue.labels .label:hover {
  background-color: #4a6398!important;
  border-color: #4a6398!important;
}

.ui.linkedin.blue.label, .ui.linkedin.blue.labels .label {
  background-color: #0077b5!important;
  border-color: #0077b5!important;
}
