---
layout: front
---

<!-- avatar -->
<div class="ui one column center aligned page grid avatar-container">
  <div class="column">
    <img class="ui medium circular image avatar" src="https://avatars0.githubusercontent.com/u/668674?v=3&amp;s=300" width="300" height="300" alt="That's me!">
  </div>
</div>
<!-- /avatar -->
<!-- skills -->
<div class="ui small skills statistics grid">
  <div class="doubling four column row">
    <div class="column">
      <div class="teal statistic">
        <div class="value">
          great
        </div>
        <div class="label">
          development
        </div>
      </div>
    </div>
    <div class="column">
      <div class="teal statistic">
        <div class="value">
          great
        </div>
        <div class="label">
          structure/planning
        </div>
      </div>
    </div>
    <div class="column">
      <div class="green statistic">
        <div class="value">
          good
        </div>
        <div class="label">
          design
        </div>
      </div>
    </div>
    <div class="column">
      <div class="green statistic">
        <div class="value">
          good
        </div>
        <div class="label">
          networking
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /skills -->
<!-- projects -->
<div class="ui one column center aligned page grid">
  <div class="column">
    <div class="ui buttons filter">
      <div class="ui blue basic button active">All</div>
      <div class="ui blue basic button">Business</div>
      <div class="ui blue basic button">Project</div>
      <div class="ui blue basic button">Development</div>
      <div class="ui blue basic button">Social</div>
    </div>
    <div class="ui cards projectbox">
      {% for project in site.data.projects %}
      <div class="card" itemscope itemtype="http://schema.org/Product">
        {% if project.image %}
        <a class="image" href="{{ project.href }}">
          <img class="lazy" data-original="{{ project.image }}" width="290" height="270" alt="{{ project.title }} photo" itemprop="image">
        </a>
        {% endif %}
        <div class="content">
          <a class="header" href="{{ project.href }}" itemprop="name">{{ project.title }}</a>
          <span style="display: none;" itemprop="url">{{ project.href }}</span>
          <div class="meta">
            {{ project.tag }}
          </div>
          <div class="description" itemprop="description">
            <p><i>{{ project.headline }}</i></p>
            {% if project.description %}
            <p>{{ project.description}}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /projects -->
<!-- social -->
<div class="ui massive circular social labels">
    <a href="https://github.com/omnidan" class="ui github blue label"><i class="github social icon"></i> github</a>
    <a href="https://twitter.com/DanielBugl" class="ui twitter teal label"><i class="twitter social icon"></i> twitter</a>
    <a href="https://www.facebook.com/omnidan" class="ui facebook blue label"><i class="facebook social icon"></i> facebook</a>
    <a href="https://plus.google.com/+DanielBugl" class="ui google plus red label"><i class="google plus social icon"></i> google+</a>
    <a href="https://at.linkedin.com/pub/daniel-bugl/39/aa7/793" class="ui linkedin blue label"><i class="linkedin social icon"></i> linkedin</a>
    <a href="https://medium.com/@omnidan" class="ui medium gray label"><i class="medium social icon"></i> medium</a>
    <a href="https://www.reddit.com/user/_omnidan_" class="ui reddit gray label"><i class="reddit social icon"></i> reddit</a>
    <a href="https://askubuntu.com/users/8893/omnidan" class="ui ubuntu linux orange label"><i class="ubuntu linux social icon"></i> askubuntu</a>
    <a href="https://stackoverflow.com/users/702288/omnidan" class="ui stack overflow gray label"><i class="stack overflow social icon"></i> stackoverflow</a>
    <a href="https://makerba.se/m/0s2kdz/danielbugl" class="ui makerbase teal label">makerba.se</a>
    <a href="https://geekli.st/omnidan" class="ui geeklist green label">geekli.st</a>
    <a href="https://keybase.io/omnidan" class="ui keybase gray label">keybase.io</a>
  </div>
</div>
<!-- /social -->