---
layout: front
---

<!-- avatar -->
<div class="ui one column center aligned page grid avatar-container">
  <div class="column">
    <img class="ui medium circular image avatar" alt="That's me!" src="https://avatars0.githubusercontent.com/u/668674?v=3&amp;s=300">
  </div>
</div>
<!-- /avatar -->
<!-- skills -->
<div class="ui small skills statistics grid">
  <div class="doubling four column row">
    <div class="column">
      <div class="teal statistic">
        <div class="value">
          great
        </div>
        <div class="label">
          development
        </div>
      </div>
    </div>
    <div class="column">
      <div class="teal statistic">
        <div class="value">
          great
        </div>
        <div class="label">
          structure/planning
        </div>
      </div>
    </div>
    <div class="column">
      <div class="green statistic">
        <div class="value">
          good
        </div>
        <div class="label">
          design
        </div>
      </div>
    </div>
    <div class="column">
      <div class="green statistic">
        <div class="value">
          good
        </div>
        <div class="label">
          networking
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /skills -->
<!-- projects -->
<div class="ui one column center aligned page grid">
  <div class="column">
    <div class="ui cards projectbox">
      {% for project in site.data.projects %}
      <div class="card" itemscope itemtype="http://schema.org/Product">
        {% if project.image %}
        <a class="image" href="{{ project.href }}">
          <img src="{{ project.image }}" alt="{{ project.title }} photo" itemprop="image">
        </a>
        {% endif %}
        <div class="content">
          <a class="header" href="{{ project.href }}" itemprop="name">{{ project.title }}</a>
          <span style="display: none;" itemprop="url">{{ project.href }}</span>
          <div class="meta">
            {{ project.tag }}
          </div>
          <div class="description" itemprop="description">
            <p><i>{{ project.headline }}</i></p>
            {% if project.description %}
            <p>{{ project.description}}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /projects -->
