.ui.header {
  font-weight: 100;
}

.statistic {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.statistic.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fold {
  height: 99vh;
  background: rgb(50, 147, 199);
}

.ui.fold {
  display: block !important;
}

.ui.intro {
  position: relative;
  display: table !important;
  height: 100%;
  width: 100%;
  padding: 0 15px !important;
  padding-bottom: 250px !important;
}

.ui.introbox {
  display: table-cell;
  vertical-align: middle;
}

.ui.intro a {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ui.intro a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ui.intro h3 {
  font-size: 6em;
  color: rgb(255, 255, 255);
  padding-top: 50px;
}

.ui.intro h4 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.75);
}

.ui.intro h5 {
  font-size: 3em;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}

.avatar {
  border: 10px solid white;
  z-index: 1;
}

.card .image img {
  height: 270px !important;
}

.skills {
  padding: 25px;
}

.projectbox {
  margin: 0 auto !important;
  max-width: 912px;
}

.avatar-container {
  margin-top: -190px !important;
}


.feature {
  margin-top: 0 !important;
}

.burger {
  position: absolute;
  left: 30px;
  height: 100%;
  margin: 1em 0;
  padding: 0;
  opacity: 0.8;
  z-index: 1;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger.clicked {
  opacity: 1.0;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.item {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 20px !important;
  font-weight: 100;
}

@media (max-width: 1150px) {
  .projectbox {
    max-width: 608px;
  }
}

@media (max-width: 665px) {
  .projectbox {
    max-width: 304px;
  }
}

@media (max-width: 800px) {
  .ui.intro h4 {
    font-size: 1.5em;
  }

  .ui.intro h5 {
    font-size: 2.5em;
  }
}

@media (max-width: 700px) {
  .ui.intro {
    top: 15%;
  }
}

@media (max-width: 450px) {
  .ui.intro h3 {
    font-size: 3em;
    padding-bottom: 0;
  }

  .ui.intro h4 {
    margin-top: 0;
    font-size: 1em;
  }

  .ui.intro h5 {
    margin-top: 0;
    font-size: 1.5em;
  }

  .doubling.column.statistic {
    padding: 0;
  }

  .burger {
    position: absolute;
    top: -20px;
    left: 10px !important;
  }

  .avatar {
    width: 150px !important;
  }

  .avatar-container {
    margin-top: -110px !important;
  }
}
