    <!-- footer -->
    <footer class="ui inverted footer vertical segment">
      <div class="ui stackable center aligned page grid">
        <div class="ten wide sitemap column">
          <div class="ui three column center aligned stackable grid">
            <div class="column">
              <h5 class="ui inverted header">TouchLay</h5>
              <div class="ui inverted link list">
                <a class="item" href="https://touchlay.com">novaTouch</a>
                <a class="item" href="https://touchlay.com">cloud</a>
              </div>
            </div>
            <div class="column">
              <h5 class="ui inverted header">Popular Projects</h5>
              <div class="ui inverted link list">
                <a class="item" href="https://github.com/omnidan/redux-undo">redux-undo</a>
                <a class="item" href="https://github.com/omnidan/redux-undo-boilerplate">redux-undo-boilerplate</a>
                <a class="item" href="https://github.com/omnidan/node-emoji">node-emoji</a>
                <a class="item" href="https://github.com/caffeinery/coffea">coffea</a>
              </div>
            </div>
            <div class="column">
              <h5 class="ui inverted header">Pages</h5>
              <div class="ui inverted link list">
                <a class="item" href="{{ site.baseurl }}/">
                  Front Page
                </a>
                {% for page in site.pages %}
                  {% if page.title %}
                  <a class="item" href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                  </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <h5 class="ui inverted header">Contact Me</h5>
          <div class="ui inverted link list">
            <a class="item" href="mailto:me@omnidan.net">me@omnidan.net</a>
            <a class="item" href="https://at.linkedin.com/pub/daniel-bugl/39/aa7/793/en"><i class="linkedin square icon"></i> Daniel Bugl</a>
            <a class="item" href="https://twitter.com/DanielBugl"><i class="twitter icon"></i> DanielBugl</a>
            <a class="item" href="https://github.com/omnidan"><i class="github icon"></i> omnidan</a>
            <a class="item top" href="#top">Jump to top</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->

</div>
<!-- /pusher -->

<script type="text/javascript" src="{{ "/dist/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/jquery.lazyload.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
$(function() {
  $("img.lazy").lazyload();
});
</script>
<script type="text/javascript" src="{{ "/dist/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/semantic.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42103305-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:78828,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
