    <!-- footer -->
    <footer class="ui inverted footer vertical segment">
      <div class="ui stackable center aligned page grid">
        <div class="ten wide sitemap column">
          <div class="ui three column center aligned stackable grid">
            <div class="column">
              <h5 class="ui inverted header">TouchLay</h5>
              <div class="ui inverted link list">
                <a class="item" href="https://touchlay.com">novaTouch</a>
                <a class="item" href="https://touchlay.com">cloud</a>
              </div>
            </div>
            <div class="column">
              <h5 class="ui inverted header">Development</h5>
              <div class="ui inverted link list">
                <a class="item" href="https://github.com/omnidan/node-emoji">node-emoji</a>
                <a class="item" href="https://github.com/omnidan/log-simple">log-simple</a>
                <a class="item" href="https://github.com/caffeinery/coffea">coffea</a>
                <a class="item" href="https://github.com/omnidan/asv">asv</a>
              </div>
            </div>
            <div class="column">
              <h5 class="ui inverted header">Other Projects</h5>
              <div class="ui inverted link list">
                <a class="item" href="https://omnidan.net/coffeedonate/">coffeedonate</a>
                <a class="item" href="https://github.com/horacat/horacat-chrome">horacat</a>
                <a class="item" href="https://github.com/omnidan/git-leaf">git-leaf</a>
                <a class="item" href="https://omnidan.net/Shift/">shift</a>
              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <h5 class="ui inverted header">Contact Me</h5>
          <div class="ui inverted link list">
            <a class="item" href="mailto:me@omnidan.net">me@omnidan.net</a>
            <a class="item" href="https://at.linkedin.com/pub/daniel-bugl/39/aa7/793/en"><i class="linkedin square icon"></i> Daniel Bugl</a>
            <a class="item" href="https://twitter.com/DanielBugl"><i class="twitter icon"></i> DanielBugl</a>
            <a class="item" href="https://github.com/omnidan"><i class="github icon"></i> omnidan</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->

</div>
<!-- /pusher -->

<script type="text/javascript" src="{{ "/dist/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/jquery.lazyload.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
$(function() {
  $("img.lazy").lazyload();
});
</script>
<script type="text/javascript" src="{{ "/dist/jquery-ui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/dist/semantic.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
