<div class="card" itemscope itemtype="http://schema.org/Product">
  {% if project.image %}
  <a class="image" href="{{ project.href }}">
    <img class="lazy" data-original="{{ project.image }}" width="290" height="270" alt="{{ project.title }} photo" itemprop="image" style="height: {% if project.smallImage %}150{% else %}270{% endif %}px;">
  </a>
  {% endif %}
  <div class="content">
    <a class="header" href="{{ project.href }}" itemprop="name">{{ project.title }}</a>
    <span style="display: none;" itemprop="url">{{ project.href }}</span>
    <div class="meta">
      {{ project.tag }}
    </div>
    <div class="description" itemprop="description">
      <p><i>{{ project.headline }}</i></p>
      {% if project.description %}
      <p>{{ project.description}}</p>
      {% endif %}
    </div>
  </div>
  <div class="extra content">
    {% capture sharetext %}{{ project.title }} - {{ project.headline|strip_html }} {% if project.shorthref %}{{ project.shorthref }}{% else %}{{ project.href }}{% endif %} (via omnidan.net){% endcapture %}
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{sharetext}}">
      <i class="twitter icon"></i>
    </a>
    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{project.href}}">
      <i class="facebook icon"></i>
    </a>
    <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{project.href}}&title={{project.title}}&summary={{project.headline|strip_html}}&source=omnidan.net">
      <i class="linkedin icon"></i>
    </a>
    <a class="google plus" href="https://plus.google.com/share?url={{project.href}}">
      <i class="google plus square icon"></i>
    </a>
  </div>
</div>
